/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
/* In your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* @font-face {
  font-family: 'Poppins';
  
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
  /* Include other font weights and styles if needed 
} */

body {
  font-family: 'Poppins', sans-serif !important;
}

